@import './navigation.css';

@font-face {
	font-family: "lato-regular";
	src: url('../fonts/lato/Lato-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: "lato-light";
	src: url('../fonts/lato/Lato-Light.ttf');
	font-weight: bolder;
}

@font-face {
	font-family: "lato-lighter";
	src: url('../fonts/lato/Lato-Thin.ttf');
	font-weight: lighter;
}

@font-face {
	font-family: "lato-bold";
	src: url('../fonts/lato/Lato-Bold.ttf');
	font-weight: bolder;
}

:root {
    --colorBackground: #EAEAEA;
    --colorH2: #1f1f1f;
    --colorP: #2b2b2b;
    --colorSecondary: #7E9E87;

	--transitionOpenNav: cubic-bezier(0.4, 0, 0.2, 1);
	--colorNavBar: #7e9e874d;;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    height: 100vh;
}

.page {
	background: url(/images/background/backPortfolio.png) var(--colorBackground);
    background-size: contain;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: left 1s;
    z-index: 0;
}

.pageNavOpen {
    left: -250px;
    transition: 1s;
    transition-timing-function: var(--transitionOpenNav);
}

h1, h2, p, a, li{
    font-family: 'lato-light';
}

h2 {
    color: var(--colorH2);
}

p {
    color: var(--colorP);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--colorP);
}

.titlePage {
    text-align: center;
    font-size: 52px;
    letter-spacing: 0.27em;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}



@media only screen and (max-width: 768px){
    .titlePage {
        font-size: 32px;
    }
}

@media only screen and (max-width: 425px){
    .titlePage {
        font-size: 22px;
    }
}