footer{
    font-size: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright {
    display: flex;
    opacity: 60%;
}

.copyright p{
    margin: 0 0 0 5px;
}

p{
    margin-top: 10px;
}