doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/experiences.css')
        title My Portfolio
    body 
        .page
            .nav    
                include ../includes/navigation.pug
            .container
                H1(class="titlePage") PROJETS

        script(src="/javascript/navigation/navigation.js")


